<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTest2"
        tools:targetApi="31">
        <activity
            android:name=".StatusActivity"
            android:exported="false" />
        <activity
            android:name=".AdminFinal"
            android:exported="false" />
        <activity
            android:name=".DriverSelect"
            android:exported="false" />
        <activity
            android:name=".LoginAdmin"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".FinalPage"
            android:exported="false" />
        <activity
            android:name=".SelectDate"
            android:exported="false" />
        <activity
            android:name=".FinalBook"
            android:exported="false" />
        <activity
            android:name=".Chennai"
            android:exported="false" />
        <activity
            android:name=".Hyderabad"
            android:exported="false" />
        <activity
            android:name=".Kashmir"
            android:exported="false" />
        <activity
            android:name=".Delhi"
            android:exported="false" />
        <activity
            android:name=".Mumbai"
            android:exported="false" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".Options"
            android:exported="false" />
        <activity
            android:name=".Bookings"
            android:exported="false" />
        <activity
            android:name=".Intro"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
